# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Present commonly used Data Science Tools
- Introduction to programming languages used in data science such as Python, R and scala
- Managing a project via GitHub

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. ggplot
3. caret

| Data Science Tools |
----------------------
| Jupyter Lab   |
| Google Colab |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200 / 6

33.333333333333336

## Author
Topan Sergiu